<!DOCTYPE html>
<html>
<head>
    <title>로그인</title>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">-->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">홈</a></li>
                <!-- -->
                <li><a href="{{ url_for('auth.register') }}">회원가입</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>로그인</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('auth.login') }}">
            {{ form.csrf_token }}
            <div>
                {{ form.email.label }} {{ form.email(placeholder="이메일 주소") }}
                {% for error in form.email.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.password.label }} {{ form.password(placeholder="비밀번호") }}
                {% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            {{ form.submit(class="btn") }}
        </form>
    </main>

    <footer>
        <p>&copy; 2023 상품 판매 및 펀딩 사이트</p>
    </footer>

    <!--<script src="{{ url_for('static', filename='js/main.js') }}"></script>-->
</body>
</html>