{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>Chat Rooms</h1>
    <div class="row">
      <div class="col-md-8">
        <ul class="list-group">
          {% for chat_room in chat_rooms %}
            <li class="list-group-item">
              <a href="{{ url_for('chat.chat_room', chat_room_id=chat_room.id) }}">Chat with {% if chat_room.user1_id == current_user.id %}{{ chat_room.user2.username }}{% else %}{{ chat_room.user1.username }}{% endif %}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}