{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="container">
    <h1>Login</h1>
    <form method="POST" action="{{ url_for('auth.login') }}">
        {{ form.csrf_token }}
        <div class="form-group">
          {{ form.email.label }} {{ form.email(class='form-control') }}
        </div>
        <div class="form-group">
          {{ form.password.label }} {{ form.password(class='form-control') }}
        </div>
        {{ form.submit(class='btn btn-primary') }}
      </form>
    <hr>
    <a href="{{ url_for('auth.kakao_login') }}">Login with Kakao</a>
    <a href="{{ url_for('auth.naver_login') }}">Login with Naver</a>
    <p>Don't have an account? <a href="{{ url_for('auth.register') }}">Register here</a>.</p>
  </div>
{% endblock %}