{% extends 'base.html' %}

{% block title %}Product List{% endblock %}

{% block content %}
  <div class="container">
    <h1>Product List</h1>
    <div class="row">
      {% for product in products %}
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.description }}</p>
              <p class="card-text">Price: ${{ product.price }}</p>
              <p class="card-text">Language: {{ product.language.name }}</p>
              <p class="card-text">Usage: {{ product.category.name }}</p>
              <a href="{{ url_for('product.get_product', product_id=product.id) }}" class="btn btn-primary">View Details</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}